.search-box {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 20%;
    border: 5px solid #C8A2C8;
    height: 300px;

    >.search-box__search {
        margin: auto;
    }
    >.search-box__alcohol {
        display: flex;
        justify-content: space-around;
        margin: 10px;
    }
    
    >.search-box__classic {
        display: flex;
        justify-content: space-around;
        margin: 10px;
    }
    
    >.search-box__acidity {
        display: flex;
        justify-content: space-around;
        margin: 10px;
        margin-bottom: 20px;
    }
    
}
.search-box__input {
    width: 100%;
    margin-top: 20px;
    height: 30px;
    
}
.search-box__filter {
    margin-left: 15px;
    margin-top: 20px;
    font-size: 19px;
    margin-bottom: 5%;
}
.search-box__results {
    margin-left: 15px;
    margin-top: 10px;
    font-size: medium;
    font-style: italic;
}