@use "../../assets/sass/variables" as *;

main{
    > h1 {
        text-align: center;
    }
    .card-container {
        margin-top: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
        justify-items: center;
    }  
}