@use "../../assets/sass/variables" as *;

.main{
    > .card__title {
        text-align: center;
        color:#C8A2C8 ;
        font-size: 80px;
        text-shadow: 2px 2px 5px #C8A2C8 ;
        

    }
    .card-container {
        margin-top: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
        justify-items: center;
        
    }  
    width: 110%;
}